---
apiVersion: v1
kind: Secret
metadata:
  name: "{{ gitlab_postgres_password_secret }}"
  namespace: "{{ gitlab_namespace }}"
type: kubernetes.io/basic-auth
stringData:
  username: "{{ gitlab_postgres_username }}"
  password: "{{ vault_gitlab_postgres_password }}"
  psql-password: "{{ vault_gitlab_postgres_password }}"