---
apiVersion: v1
kind: Secret
metadata:
  name: "{{ gitlab_redis_password_secret }}"
  namespace: "{{ gitlab_namespace }}"
type: Opaque
stringData:
  "{{ gitlab_redis_password_key }}": "{{ vault_gitlab_redis_password }}"