---
vault_runner_01_token: "glrt-...."
vault_runner_02_token: "glrt-...."
vault_runner_03_token: "glrt-...."

vault_gitlab_redis_password: "dfxcvbxcvbdxbrtegadfbsggrtb"
vault_harbor_admin_password: "asfgetwvd5733gsesvg"
vault_harbor_core_secret: "asfghbnds"
vault_gitlab_postgres_password: "asfdghsvg"
vault_gitlab_garage_access_key: "sgdhfvgadsg "
vault_gitlab_garage_secret_key: "asfdghxdgdfsdhjggsdhgfn"

vault_argocd_vaclav_password: "password"
vault_argocd_git_token: "glpat-...."
vault_grafana_telegram_bot_token: "85555:AFA-9gXBrSDGHDF_Z7M13DGBDLKpTs"
vault_grafana_telegram_chats:
  - name: "tg1"
    chat_id: "4564556356"

  - name: "tg2"
    chat_id: "4564556356"



#ansible-vault encrypt 4-vpn-gitab-monitoring-etc/group_vars/secrets.yml
#ansible-vault view 4-vpn-gitab-monitoring-etc/group_vars/secrets.yml
#ansible-vault edit 4-vpn-gitab-monitoring-etc/group_vars/secrets.yml