---
gitlabUrl: "{{ runner_gitlab_url }}"

runnerToken: "{{ runner_config.token }}"

concurrent: {{ runner_config.concurrent }}

rbac:
  create: true
  clusterWideAccess: false

serviceAccount:
  create: true

runners:
  config: |
    [[runners]]
      executor = "kubernetes"

      [runners.kubernetes]
        namespace = "{{ gitlab_runner_namespace }}"
        service_account = "{{ runner_config.name }}-gitlab-runner"
        image = "{{ runner_config.image }}"
        privileged = {{ runner_config.privileged | bool | lower }}

        poll_interval = 5
        poll_timeout = 3600

        cpu_request = "100m"
        memory_request = "256Mi"

        helper_cpu_request = "100m"
        helper_memory_request = "128Mi"

{% if runner_config.dind | default(false) %}
        environment = [
          "DOCKER_HOST=tcp://docker:2375",
          "DOCKER_TLS_CERTDIR="
        ]

        [[runners.kubernetes.services]]
          name = "docker:27-dind"
          alias = "docker"
{% endif %}